body{
    background-color: rgb(191, 191, 191);
}
h1, h2{
    color: rgb(78, 35, 36);
    text-align: center;
    padding-top: 1,5%;
    padding-bottom: 1%;
}

p{
    padding-top: 1%;
    padding-bottom: 0,5%;
}

header{
    width: 100%;
    background-color: rgb(94, 84, 98);
    padding: 1,5%;
}

.logo{
    color: lavender;
    text-align: center;
    font-size: 1.4em;
}

nav{
    color: lavender;
    text-align: center;
    font-size: 1.4em;
}

.banner{
    width: 100%;
}

.container{
    background-color: rgb(127, 105, 117);
    width: 80%;
    margin: auto;
}

footer{
    background-color: rgb(62, 79, 89);
    color: lavender;
    font-size: 1.3em;
    text-align: center;
}