body{
    background-color: rgb(191, 191, 191);
}

h1 {
    color: rgb(78, 35, 36);
    text-align: center;
    padding-top: 1,5%;
    padding-bottom: 1,5%;
    line-height: 1,5;
    font-family: 'Pacifico', cursive;
}

h2{
    color: rgb(78, 35, 36);
    text-align: center;
    padding-top: 1,5%;
    padding-bottom: 1,5%;
    line-height: 1,5;
    font-family: 'Bebas Neue', cursive;
    margin: 2%;
}

p{
    padding-top: 1%;
    padding-bottom: 0,5%;
    line-height: 1,5;
    text-align: justify;
    text-indent: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1,2em;
}

.listameio li{
    line-height: 1,5;
    font-size: 1,2em;
    font-family: 'Montserrat', sans-serif;
}

header{
    width: 100%;
    background-color: rgb(94, 84, 98);
    padding: 2%;
}

.logo{
    color: lavender;
    text-align: center;
    font-size: 1.4em;
}

nav{
    color: lavender;
    text-align: center;
    font-size: 1.4em;
}

.banner{
    width: 100%;
}

.container{
    background-color: rgb(127, 105, 117);
    width: 80%;
    margin: auto;
    padding-left: 2%;
    padding-right: 2%;
}

footer{
    background-color: rgb(62, 79, 89);
    color: lavender;
    font-size: 1.3em;
    text-align: center;
}

section{
    background-color: slategrey;
    padding-left: 2%;
    padding-right: 2%;
}

.legenda{
    font-family: 'Montserrat', sans-serif;
}